<h1 class="center">Liste des Pokémons</h1>
<div class="container">
    <div class="row">
        <app-search-bar></app-search-bar>
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <a routerLink="/pokemon/{{pokemon.id}}">
                <div class="card horizontal" pkmnBorderCard="#f58e0b">
                    <div class="card-image">
                        <img [src]="pokemon.picture"/>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>{{pokemon.name}}</p>
                            <p><small>{{pokemon.created | date:"MMM d, y" | uppercase}}</small></p>
                            <span *ngFor="let type of pokemon.types" class="{{type | colorTypePokemon}}">{{type}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<a id="addButton" class="btn-floating btn-large z-depth-2" routerLink="/pokemon/add">+</a>
<a id="logoutButton" (click)="logout()" class="btn-floating btn-large z-depth-2" routerLink="/login">↪</a>